.form {
    color: #000;
    overflow-x: hidden;
    height: 100vh;
    background-color: red;
    background-repeat: no-repeat
}
.card {
    background-color: #F9F9FA !important;
    border-radius: 30px !important;	
}
.card2 {
    margin: 6rem  15px 0px 15px !important;
}
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}
.text_card1 {
text-align: center;
padding-left: 3rem !important;
}
.text_card1 h2 {
    font-size: 1.5rem;
}
.text_card1 p {
    padding: 10px 10px;
}

.image {
    margin-top: 1rem;
    width: 360px;
    height: auto;
}

.border-line {
    border-right: 4px solid rgba(239, 55, 75, 1);
    margin-top: 4rem !important;
}
.social-link {
    padding-left: 10.7rem!important;
}
.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 35%;
    background-color: #E0E0E0;
    margin-top: 30px
}

.or {
    width: 26%;
    font-weight: bold;
    margin-top: 20px;
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 20px 12px;
    border: 3px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.button {
    padding-left: 8rem !important;
}
.btn-red {
    background : #EF374B;
    width: 150px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}
span {
    display: none;
}

@media screen and (max-width: 991px) {

    .image {
        width: 300px;
        height: auto;
    }
    .text_card1 h2 {
        font-size: 1rem;
    }
    .text_card1 p {
        font-size: .8rem;
    }

    .border-line {
        border-right: 2px solid rgba(239, 55, 75, 1);
        margin-top: 7rem !important;
    }
    .text_card1 p {
        padding: 1px 1px;
    }
}

@media (min-width: 1200px) {
    .pl-xl-5, .px-xl-5 {
        padding-left: 13rem !important;
        padding-right: 13rem !important;
    }
}


@media (max-width: 767px) { 
    #card1 {
        display: none;
    }
    span {
        display: block;
         padding: 4rem 0px 0px 7.5rem;
         font-size: 25px;
         font-weight: 400;
         text-transform: capitalize;
    }
    .card2 {
        margin: 50px 15px 0px 15px !important;
    }
    
    .button {
        padding-left: 12rem !important;
    }
    .social-link {
        padding-left: 15rem!important;
    }
}


@media (max-width: 550px) { 
    .button {
        padding-left: 10rem !important;
    }
    .social-link {
        padding-left: 13.3rem!important;
    }
}


@media (max-width: 440px) { 
    .button {
        padding-left: 8.5rem !important;
    }
    .social-link {
        padding-left: 11.5rem!important;
    }
    span {
        display: block;
         padding: 4rem 0px 0px 6rem;
         font-size: 20px;
         font-weight: 600;
         text-transform: capitalize;
    }
}


@media (max-width: 380px) { 
    .button {
        padding-left: 4.5rem !important;

    }
    .social-link {
        padding-left: 8rem!important;
    }
}

